@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

body {
    display: flex;
    overflow: hidden;
}
/* This section contains positioning of elements
Starting with left section of the page where is logo*/
.logo-section {
    flex: 1;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    flex: 1;
}

.logo > div {
    margin-top: 20vh;
    padding: 1rem 0rem;
}

.logo img {
    width: 120px;
    height: 120px;
}

.logo-text {
    display: inline;
}

.credit {
    text-align: center;
    margin-bottom: 1rem;
}

.logo-section> img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/*In this section is form part that is on the right side */
.form-section {
    flex: 1.8;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title-container,
.form-container,
.button-container {
    flex: 1;
    margin-left: 2vw;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.form-container form {
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
}


.second-section {
    margin-left: 12rem;
}

/*From here will be style elements 
Starting with left logo side */

.logo > div {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-size: 7rem;
    font-family: norse-bold;
    color: white;
}

a {
    color: black;
}

a:hover {
    color: blue;
}
