@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

@font-face {
    font-family: roboto-serif;
    src: url(fonts/Roboto_Serif/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}

:root {
    font-size: 16px;
}
body {
    display: flex;
    overflow: hidden;
}
/* This section contains positioning of elements
Starting with left section of the page where is logo*/
.logo-section {
    flex: 1;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    flex: 1;
}

.logo > div {
    margin-top: 20vh;
    padding: 1rem 0rem;
}

.logo img {
    width: 120px;
    height: 120px;
}

.logo-text {
    display: inline;
}

.credit {
    text-align: center;
    margin-bottom: 1rem;
}

.logo-section> img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/*In this section is form part that is on the right side */
.form-section {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title-container,
.button-container {
    display: flex;
    flex: 2;
    padding-left: 3vw;
}

.title-container div {
    align-self: flex-end;
    margin-bottom: 25px;
}

.title {
    margin-bottom: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 3vw;
    
}

.form-container h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-container form {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 25px;
}

.first-section div,
.second-section div {
    margin-bottom: 25px;
}

.first-section {
    flex: 1;
}

.second-section {
    margin-left: 4rem;
    flex: 1.5;
}

.button-container {
    flex-direction: column;
    padding-top: 30px;
    gap: 25px;
}

/*From here will be style elements 
Starting with left logo side */

.logo > div {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-size: 7rem;
    font-family: norse-bold;
    color: white;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

/*From here right side with form */
.form-section {
    color: #010b13;
}

.title-container,
.button-container {
    background-color: #a2a099;
}

.title-container p {
    line-height: 30px;
    font-family: roboto-serif;
    font-size: calc(15px + .7vw);
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-container {
    background-color: #d0cdc4;
}

.form-container h1 {
    font-family: roboto-serif;
    font-size: 1.7rem;
    font-weight: bold;
}

.form-container label {
    font-family: roboto-serif;
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: bold;
}
.form-container input {
    width: calc(50px + 12vw);
    height: 25px;
    border-radius: 5px;
}

.first-section div,
.second-section div {
    
}

.button-container button {
    font-size: calc(1rem + .2vw);
    width: calc(50px + 10vw);
    height: calc(5px + 5vh);;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.button-container p {
    font-size: 1.3rem;
}